@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

button {
  border: none;
  font-family: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  font-family: "Noto Sans", sans-serif;
  color: white;
}
header .logo {
  font-family: "Times New Roman", Times, serif;
}
header .nav-list {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
}
header .nav-list .home-li {
  display: none;
}
header .contact-btn {
  padding: 15px;
  background: none;
  font-size: 18px;
  border: 1px solid white;
  color: white;
  font-weight: 400;
}
header #burger-menu {
  display: none;
}

@media only screen and (max-width: 700px) {
  header {
    padding: 10px 20px;
    flex-direction: row-reverse;
  }
  header .nav-list {
    display: none;
  }
  header .contact-btn {
    display: none;
  }
  header .logo {
    font-size: 22px;
    font-weight: 700;
  }
  header #burger-menu {
    display: block;
  }
  header.isActive {
    position: fixed;
    z-index: 3;
    background: linear-gradient(135deg, #051c2c 60%, #03339c 100%);
    font-family: "Catamaran", sans-serif;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  header.isActive .nav-list {
    display: flex;
    font-size: 28px;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    font-weight: 500;
    flex-direction: column;
  }
  header.isActive .nav-list .home-li {
    display: block;
  }
  header.isActive .logo {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px;
  }
  header.isActive .contact-btn {
    display: flex;
    font-size: 28px;
    font-weight: 500;
    border: none;
    background-color: #2251FF;
    border-radius: 5px;
    margin-top: 50px;
  }
  header.isActive #burger-menu {
    margin: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.index-body {
  background: linear-gradient(135deg, #051c2c 60%, #03339c 100%);
  position: relative;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}
.index-body .index-main img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.index-body .index-main .info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
  height: 55%;
  gap: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: 0 30px;
}
.index-body .index-main .info-container .info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.index-body .index-main .info-container .info .estas-en {
  font-size: 25px;
  font-weight: 400;
}
.index-body .index-main .info-container .info .bimia-consulting {
  font-size: 90px;
  font-weight: 700;
}
.index-body .index-main .info-container .info p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 40px;
  width: 85%;
  text-align: start;
}
.index-body .index-main .info-container .conocer-mas-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 100px;
}
.index-body .index-main .info-container .conocer-mas-container .conocer-mas {
  border: 1px solid #05106D;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  color: #05106D;
  padding: 20px 35px;
}

.contact-body {
  background: linear-gradient(135deg, #051c2c 60%, #03339c 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.contact-body .contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  margin-top: 60px;
}
.contact-body .contact-section .contact-lines {
  position: absolute;
  z-index: -1;
  mix-blend-mode: overlay;
  width: 100%;
}
.contact-body .contact-section .form-container {
  background-color: #F8F8F8;
  padding: 20px 50px;
  width: 80%;
}
.contact-body .contact-section .form-container .form-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-body .contact-section .form-container .form-info h2 {
  font-size: 65px;
  font-weight: 700;
  font-family: "Catamaran", sans-serif;
  color: #1E1E1E;
}
.contact-body .contact-section .form-container .form-info h2 .highlight {
  color: black;
}
.contact-body .contact-section .form-container .form-info p {
  font-size: 25px;
  font-weight: 400;
  width: 50%;
  padding-bottom: 30px;
}
.contact-body .contact-section .form-container form {
  display: flex;
  width: 100%;
  height: 100%;
}
.contact-body .contact-section .form-container form .inputs-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  padding: 20px 0;
  height: 100%;
}
.contact-body .contact-section .form-container form .inputs-container .input-div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.contact-body .contact-section .form-container form .inputs-container .input-div label {
  font-size: 28px;
  font-weight: 500;
  width: 18%;
}
.contact-body .contact-section .form-container form .inputs-container .input-div input {
  width: 50%;
  border: none;
  background-color: #F4F4F4;
  border-bottom: 2px solid #2251FF;
  font-size: 25px;
  outline: none;
  padding: 10px;
}
.contact-body .contact-section .form-container form .inputs-container .input-div input::placeholder {
  color: rgba(44, 44, 44, 0.306);
}
.contact-body .contact-section .form-container form .textarea-container {
  display: flex;
  position: relative;
  bottom: 30px;
  flex-direction: column;
  gap: 10px;
}
.contact-body .contact-section .form-container form .textarea-container label {
  font-size: 28px;
  font-weight: 600;
}
.contact-body .contact-section .form-container form .textarea-container textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid #2251FF;
  font-size: 25px;
  font-weight: 400;
  background-color: #F4F4F4;
  resize: none;
}
.contact-body .contact-section .form-container form .textarea-container .submit-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.contact-body .contact-section .form-container form .textarea-container .submit-container button {
  border-radius: 3px;
  height: 75px;
  color: white;
  font-size: 25px;
  font-weight: 700;
  width: 50%;
  background-color: #2251FF;
}

@media only screen and (max-width: 700px) {
  .contact-body .contact-section .form-container {
    padding: 15px 40px;
    width: 80%;
  }
  .contact-body .contact-section .form-container .form-info h2 {
    font-size: 35px;
  }
  .contact-body .contact-section .form-container .form-info p {
    font-size: 25px;
    width: 100%;
    padding-bottom: 0px;
    text-align: justify;
  }
  .contact-body .contact-section .form-container form {
    display: flex;
    flex-direction: column;
  }
  .contact-body .contact-section .form-container form .inputs-container {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    height: 100%;
  }
  .contact-body .contact-section .form-container form .inputs-container .input-div {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-body .contact-section .form-container form .inputs-container .input-div label {
    width: 100%;
    font-size: 25px;
  }
  .contact-body .contact-section .form-container form .inputs-container .input-div input {
    width: 100%;
    font-size: 25px;
  }
  .contact-body .contact-section .form-container form .textarea-container {
    display: flex;
    position: initial;
    flex-direction: column;
    gap: 10px;
  }
  .contact-body .contact-section .form-container form .textarea-container textarea {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .contact-body .contact-section .form-container {
    padding: 15px 40px;
    width: 80%;
  }
  .contact-body .contact-section .form-container .form-info h2 {
    font-size: 55px;
  }
  .contact-body .contact-section .form-container .form-info p {
    font-size: 30px;
    width: 100%;
    padding-bottom: 0px;
    text-align: justify;
  }
  .contact-body .contact-section .form-container form {
    display: flex;
    flex-direction: column;
  }
  .contact-body .contact-section .form-container form .inputs-container {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    height: 100%;
  }
  .contact-body .contact-section .form-container form .inputs-container .input-div {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-body .contact-section .form-container form .inputs-container .input-div label {
    width: 100%;
    font-size: 25px;
  }
  .contact-body .contact-section .form-container form .inputs-container .input-div input {
    width: 100%;
    font-size: 25px;
  }
  .contact-body .contact-section .form-container form .textarea-container {
    display: flex;
    position: initial;
    flex-direction: column;
    gap: 10px;
  }
  .contact-body .contact-section .form-container form .textarea-container textarea {
    width: 100%;
    height: 100%;
  }
}
.aboutUs-container {
  font-family: "Noto Sans", sans-serif;
}
.aboutUs-container .aboutUs-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 40px 20px;
}
.aboutUs-container .aboutUs-title h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutUs-container .aboutUs-title span {
  border: 1px solid black;
}
.aboutUs-container .aboutUs-title p {
  font-size: 22px;
  font-weight: 400;
  text-align: justify;
}
.aboutUs-container .aboutUs-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EFEFEF;
  padding: 35px 50px;
  gap: 20px;
}
.aboutUs-container .aboutUs-cards-container .aboutUs-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: white;
  box-shadow: 0px 4.07px 4.07px rgba(0, 0, 0, 0.25);
  padding: 25px 50px;
}
.aboutUs-container .aboutUs-cards-container .aboutUs-card h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 30px;
}
.aboutUs-container .aboutUs-cards-container .aboutUs-card span {
  font-size: 18px;
  font-weight: 500;
}
.aboutUs-container .aboutUs-cards-container .aboutUs-card p {
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
}

.work-body {
  background: linear-gradient(135deg, #051c2c 60%, #03339c 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.work-body .work-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.work-body .work-main .work-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-body .work-main .work-section video {
  width: 40%;
  mix-blend-mode: screen;
}
.work-body .work-main .work-section .work-info {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  color: white;
  padding: 30px;
}
.work-body .work-main .work-section .work-info h1 {
  font-family: "Catamaran", sans-serif;
  font-size: 60px;
  font-weight: 500;
  width: 90%;
}
.work-body .work-main .work-section .work-info p {
  font-weight: 300;
  font-size: 22px;
  text-align: justify;
}
.work-body .outstanding-section {
  background-color: white;
  font-family: "Noto Sans", sans-serif;
}
.work-body .outstanding-section .outstanding-title {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.work-body .outstanding-section .outstanding-title span {
  width: 100%;
  border: 0.5px solid black;
}
.work-body .outstanding-section .outstanding-title h3 {
  font-family: "Catamaran", sans-serif;
  padding: 15px 0 0 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.work-body .outstanding-section .outstanding-cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
}
.work-body .outstanding-section .outstanding-cards-container .outstanding-card {
  flex: 1;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 4.07px 4.07px rgba(0, 0, 0, 0.25);
}
.work-body .outstanding-section .outstanding-cards-container .outstanding-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.work-body .outstanding-section .outstanding-cards-container .outstanding-card h3 {
  font-weight: 600;
  font-size: 26px;
}
.work-body .outstanding-section .outstanding-cards-container .outstanding-card p {
  text-align: justify;
  font-weight: 400;
  font-size: 20px;
  height: auto;
  width: auto;
  padding: 5px 10px;
  line-height: 30px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
  .work-body .work-main {
    flex-direction: column;
    height: auto;
    padding: 25px 0;
  }
  .work-body .work-main .work-section {
    flex-direction: column;
  }
  .work-body .work-main .work-section video {
    display: none;
  }
  .work-body .work-main .work-section .work-info h1 {
    font-size: 34px;
    font-weight: 700;
    width: 100%;
  }
  .work-body .work-main .work-section .work-info p {
    font-weight: 300;
    line-height: 21px;
    font-size: 16px;
    text-align: justify;
  }
  .work-body .outstanding-section {
    background-color: white;
    font-family: "Noto Sans", sans-serif;
  }
  .work-body .outstanding-section .outstanding-title h3 {
    font-size: 18px;
    font-weight: 700;
  }
  .work-body .outstanding-section .outstanding-cards-container {
    flex-direction: column;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card {
    flex-direction: column;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card img {
    width: 100%;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card h3 {
    font-weight: 600;
    font-size: 20px;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card p {
    font-size: 16px;
    padding: 5px 0px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .work-body .work-main {
    flex-direction: column;
    height: 70%;
    padding: 10px 0;
  }
  .work-body .work-main .work-section {
    flex-direction: row;
  }
  .work-body .work-main .work-section .work-info h1 {
    font-size: 40px;
    font-weight: 700;
    width: 100%;
  }
  .work-body .work-main .work-section .work-info p {
    font-weight: 300;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
  }
  .work-body .outstanding-section {
    background-color: white;
    font-family: "Noto Sans", sans-serif;
  }
  .work-body .outstanding-section .outstanding-title h3 {
    font-size: 25px;
    font-weight: 700;
  }
  .work-body .outstanding-section .outstanding-cards-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card {
    flex-direction: column;
    width: 80%;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card img {
    width: 100%;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card h3 {
    font-weight: 600;
    font-size: 30px;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card p {
    font-size: 20px;
    padding: 5px 0px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .work-body .work-main {
    flex-direction: column;
    height: 70%;
    padding: 10px 0;
  }
  .work-body .work-main .work-section {
    flex-direction: row;
  }
  .work-body .work-main .work-section .work-info h1 {
    font-size: 45px;
    font-weight: 700;
    width: 100%;
  }
  .work-body .work-main .work-section .work-info p {
    font-weight: 300;
    line-height: 30px;
    font-size: 22px;
    text-align: justify;
  }
  .work-body .outstanding-section .outstanding-cards-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card {
    flex-direction: column;
    width: 70%;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card img {
    width: 100%;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card h3 {
    font-weight: 600;
    font-size: 30px;
  }
  .work-body .outstanding-section .outstanding-cards-container .outstanding-card p {
    font-size: 20px;
    padding: 5px 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
