* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

@import 'variables.scss';

html {
    height: 100%;
}

button {
    border: none;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: white;
}