.contact-body {
    background-color: #001d2c;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 120px;
        .contact-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $noto-font;
                .form-container {
                    background-color: #F8F8F8;
                    padding: 20px 50px;
                    width: 95%;
                    margin: 70px;  
                    
                        .form-info {
                            display: flex;  
                            flex-direction: column;
                            width: 100%;
                                h2 {
                                font-size: 65px;
                                font-weight: 700;
                                font-family: $catamaran;
                                color: #1E1E1E;
                                    .highlight{
                                    color: black;
                                    }
                                }
                                p {
                                    font-size: 25px;
                                    font-weight: 400;
                                    width: 50%;
                                    padding-bottom: 30px;
                                }
                        }       
                        form {
                            display: flex;
                            width: 100%;
                            height: 100%;
                                .inputs-container {
                                    width: 70%;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 40px;
                                    height: 100%;
                                    padding: 20px 0;
                                    height: 100%;
                                        .input-div {
                                            display: flex;
                                            align-items: center;
                                            width: 100%;
                                            gap: 20px;
                                                label {
                                                    font-size: 28px;
                                                    font-weight: 500;
                                                    width: 18%;
                                                }
                                                input {
                                                    width: 50%;
                                                    border: none;
                                                    background-color: #F4F4F4;
                                                    border-bottom: 2px solid #2251FF;
                                                    font-size: 25px;
                                                    outline: none;
                                                    padding: 10px;
                                                        &::placeholder {
                                                            color: rgba(44, 44, 44, 0.306);
                                                        }
                                                }                               
                                        }
                                }
                                .textarea-container {
                                    display: flex;
                                    position: relative;
                                    bottom: 30px;
                                    flex-direction: column;
                                    gap: 10px;
                                        label {
                                            font-size: 28px;
                                            font-weight: 600;
                                        }
                                        textarea {
                                            width: 100%;
                                            height: 100%;
                                            outline: none;
                                            padding: 10px 20px;
                                            border: none;
                                            border-bottom: 2px solid #2251FF;
                                            font-size: 25px;
                                            font-weight: 400;
                                            background-color: #F4F4F4;
                                            resize: none;
                                        }
                                        .submit-container {
                                            display: flex;
                                            width: 100%;
                                            justify-content: flex-end;
                                            padding-top: 20px ;
                                                button {
                                                    border-radius: 3px;
                                                    height: 75px;
                                                    color: white;
                                                    font-size: 25px;
                                                    font-weight: 700;
                                                    width: 50%;
                                                    background-color: #2251FF;
                                                }
                                        }
                                }
                        }
                }
        }
}


@media only screen and (max-width: 700px) {
    .contact-body {
        padding-bottom: 220px;
            .contact-section {
                    .form-container {
                        padding: 20px 30px;
                        width: 90%;
                            .form-info {
                                    h2 {
                                        font-size: 35px;
                                    }
                                    p {
                                        font-size: 25px;
                                        width: 100%;
                                        padding-bottom: 0px;
                                        text-align: justify;
                                    }
                            }       
                            form {
                                display: flex;
                                flex-direction: column;
                                    .inputs-container {
                                        width: 100%;
                                        flex-direction: column;
                                        gap: 20px;
                                        padding: 25px 0;
                                        height: 100%;
                                            .input-div {
                                                flex-direction: column;
                                                align-items: flex-start;
                                                    label {
                                                        width: 100%;
                                                        font-size: 25px;
                                                    }
                                                    input {
                                                        width: 100%;
                                                        font-size: 25px;
                                                    }                               
                                            }
                                    }
                                    .textarea-container {
                                        display: flex;
                                        position: initial;
                                        flex-direction: column;
                                        gap: 10px;
                                            textarea {
                                                width: 100%;
                                                height: 100%;
                                            }
                                            .submit-container {
                                                padding-top: 20px;
                                                padding-bottom: 20px;
                                            }
                                    }
                            }
                    }
            }
    }
    
}

@media only screen and (max-width: 480px) {
    .contact-body {
            .contact-section {
                    .form-container {
                        padding: 20px 20px;
                        width: 95%;
                            .form-info {
                                    h2 {
                                        font-size: 30px;
                                    }
                                    p {
                                        font-size: 20px;
                                    }
                            }       
                            form {
                                display: flex;
                                flex-direction: column;
                                    .inputs-container {
                                        width: 100%;
                                        flex-direction: column;
                                        gap: 20px;
                                        padding: 25px 0;
                                        height: 100%;
                                            .input-div {
                                                flex-direction: column;
                                                align-items: flex-start;
                                                    label {
                                                        font-size: 18px;
                                                    }
                                                    input {
                                                        font-size: 18px;
                                                    }                               
                                            }
                                    }
                                    .textarea-container {
                                        display: flex;
                                        position: initial;
                                        flex-direction: column;
                                        gap: 10px;
                                            textarea {
                                                width: 100%;
                                                height: 150px;
                                            }
                                            .submit-container {
                                                display: flex;
                                                width: 100%;
                                                justify-content: flex-end;
                                                padding-top: 20px;
                                                padding-bottom: 20px;
                                                    button {
                                                        height: 55px;
                                                        font-size: 20px;
                                                    }
                                            }
                                    }
                                    
                            }
                    }
            }
    }
}


@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .contact-body {
        padding-bottom: 160px;
        .contact-section {
                .form-container {
                    padding: 15px 40px;
                    width: 95%;
                        .form-info {
                                h2 {
                                    font-size: 55px;
                                }
                                p {
                                    font-size: 30px;
                                    width: 100%;
                                    padding-bottom: 0px;
                                    text-align: justify;
                                }
                        }       
                        form {
                            display: flex;
                            flex-direction: column;
                                .inputs-container {
                                    width: 100%;
                                    flex-direction: column;
                                    gap: 20px;
                                    padding: 25px 0;
                                    height: 100%;
                                        .input-div {
                                            flex-direction: column;
                                            align-items: flex-start;
                                                label {
                                                    width: 100%;
                                                    font-size: 25px;
                                                }
                                                input {
                                                    width: 100%;
                                                    font-size: 25px;
                                                }                               
                                        }
                                }
                                .textarea-container {
                                    display: flex;
                                    position: initial;
                                    flex-direction: column;
                                    gap: 10px;
                                        textarea {
                                            width: 100%;
                                            height: 100%;
                                        }
                                }
                        }
                }
        }
    }

}