.cookies-card {
    width: 100%;
    font-family: $noto-font;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    position: absolute;
    z-index: 100;
        
    .cookies-img {
        position: relative;
        right: 50px;
    }
    .cookies-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .cookies-title {
            font-weight: 500;
            font-size: 20px;
        }
        .cookies-info {
            font-size: 16px;
        }
        .cookies-btn-container {
            display: flex;
            gap: 30px;
            align-items: center;
            .cookies-btn {
                background-color: #2251FF;
                padding: 10px;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                font-size: 15px;
            }
            .cookies-link {
                color: rgb(59, 59, 59);
                text-decoration: underline;
                background-color: rgb(178, 178, 178);
                padding: 10px;
                border-radius: 5px;
                font-size: 15px;
            }
        }
    }
}

.cookies-background {
    display: none;
    background: rgba(0,0,0,.20);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.cookies-background.active {
    display: block;
}

.cookies-card.active {
    display: flex;
}

@media only screen and (max-width: 720px) {
    .cookies-card {
        .cookies-img {
            right: 20px;
            width: 85px;
        }
        .cookies-info-container {
            gap: 10px;
            .cookies-title {
                font-size: 18px;
            }
            .cookies-info {
                font-size: 16px;
            }
            .cookies-btn-container {
                gap: 10px;
                .cookies-btn {
                    font-size: 15px;
                }
                .cookies-link {
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .cookies-card {
        .cookies-img {
            right: 20px;
            width: 75px;
        }
        .cookies-info-container {
            gap: 10px;
            .cookies-title {
                font-size: 16px;
            }
            .cookies-info {
                font-size: 14px;
            }
            .cookies-btn-container {
                gap: 10px;
                .cookies-btn {
                    font-size: 13px;
                }
                .cookies-link {
                    font-size: 13px;
                    text-align: center;
                }
            }
        }
    }
}