footer {
    background-color: white;
    font-family: $noto-font;
    border: 1px solid #D3D3D3;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .footer-info-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
            span {
                font-size: 18px;
                font-weight: 400;
                width: 40%;
            }
    }
}

@media only screen and (max-width: 650px) {
    footer {
        .footer-info-div {
                ul {
                    display: flex;
                    flex-direction: column;
                }
        }
    }
}