footer {
    background-color: white;
    font-family: $noto-font;
    border: 1px solid #D3D3D3;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .footer-info-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
            span {
                font-size: 15px;
                font-weight: 400;
                width: 40%;
            }
    }
}


@media only screen and (max-width: 650px) {
    footer {
        .footer-info-div {
                ul {
                    display: flex;
                    flex-direction: column;
                }
        }
    }
}

@media only screen and (max-width: 420px) {
    footer {
        padding: 20px;
        .footer-info-div {
                .copyright {
                    font-size: 13px;
                }
                .terms {
                    font-size: 13px;
                }
        }
    }
    
}

@media only screen and (max-width: 350px) {
    footer {
        padding: 10px;
        .footer-info-div {
                .copyright {
                    font-size: 12px;
                }
                .terms {
                    font-size: 12px;
                }
        }
    }
    
}