header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    font-family: $noto-font;
    color: white;
        .logo {
            font-family: 'Times New Roman', Times, serif;
            &:hover {
                cursor: pointer;
            }
        }
        .nav-list {
            display: flex;
            gap: 20px;
            font-size: 18px;
            font-weight: 400;
                .home-li {
                    display: none;
                }
                .section-li {
                    list-style-type: none;
                }
        }
        .contact-btn {
            padding: 15px;
            background: none;
            font-size: 18px;
            border: 1px solid white;
            color: white;
            font-weight: 400;
        }

        .contact-btn-active {
            background-color: #2251FF;
            color: white;
            border: none;
            padding: 15px;
            font-size: 18px;
            &:hover {
                cursor: pointer;
            }
        }
        #burger-menu {
            display: none;
        }
}

@media only screen and (max-width: 700px) {
    header {
        padding: 10px 20px;
        flex-direction: row-reverse;
            .nav-list {
                display: none;
            }
            .contact-btn {
                display: none;
            }
            .contact-btn-active {
                display: none;
            }
            .logo {
                font-size: 22px;
                font-weight: 700;
            }
            #burger-menu {
                display: block;
            }
       
    }

    header.isActive {
        position: fixed;
        z-index: 3;
        background: $index-gradient;
        font-family: $catamaran;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
            .nav-list {
                display: flex;
                font-size: 28px;
                justify-content: space-between;
                gap: 50px;
                align-items: center;
                font-weight: 500;
                flex-direction: column;
                    .home-li {
                        display: block;
                    }
            }
            .logo {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px 20px;
            }
            .contact-btn {
                display: flex;
                font-size: 28px;
                font-weight: 500;
                border: none;
                background-color: #2251FF;
                border-radius: 5px;
                margin-top: 50px;
            }

            #burger-menu {
                margin: 10px 20px;
                position: absolute;
                top: 0;
                left: 0;
            }

    }

}