header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    font-family: $noto-font;
    color: white;
        .logo {
            font-family: 'Times New Roman', Times, serif;
        }
        .nav-list {
            display: flex;
            gap: 20px;
            font-size: 18px;
            font-weight: 400;
        }
        .contact-btn {
            padding: 15px;
            background: none;
            font-size: 18px;
            border: 1px solid white;
            color: white;
            font-weight: 500;
        }
}


@media only screen and (max-width: 376px) {

    header {
        padding: 5px 5px;
            .logo {
                font-family: 'Times New Roman', Times, serif;
                font-size: 13px;
            }
            .nav-list {
                display: flex;
                font-size: 13px;
            }
            .contact-btn {
                padding: 0px;
                background: none;
                font-size: 13px;
                border: none;
                color: white;
            }
    }
}