.index-body {
    background: $index-gradient;
    height: 100%;
    font-family: $noto-font;
    .index-main {
        height: 100%;
        .robot-image-container {
            position: relative;
            width: 100%;
            height: 100%;
               
            .robot-image-desktop {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .robot-image-tb {
                display: none;
            }
            .robot-image-mobile {
                display: none;
            }
        }

        .info-container {
            position: absolute;
            height: 50%;
            width: 55%;
            right: 20px;
            bottom: 0;
            z-index: 1;

            .info {
                .estas-en {
                    font-size: 25px;
                }
                
                .bimia-consulting {
                    font-size: 80px;
                    font-family: $catamaran;
                    font-weight: 700;
                    line-height: 1.1;
                }

                p {
                    font-size: 25px;
                    padding: 20px 0;
                }
            
                .conocer-mas-container {
                    display: flex;
                    justify-content: flex-end;
    
                    .conocer-mas {
                        font-size: 20px;
                        font-weight: 600;
                        font-family: $noto-font;
                        color: #05106D;
                        border: 1px solid #05106D;
                        background-color: transparent;
                        padding: 20px 60px;
                    }
                }
            }

            
        }
    }
}

@media only screen and (max-width: 1080px) {
    .index-body {
        background: $index-gradient;
        height: 100%;
        font-family: $noto-font;
        .index-main {
            height: 100%;
            .robot-image-container {
                position: relative;
                width: 100%;
                height: 100%;
                   
                .robot-image-desktop {
                   /*  width: 100%;
                    height: 100%;
                    object-fit: contain; */
                    display: none;
                }
    
                .robot-image-mobile {
                    display: none;
                }

                .robot-image-tb {
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
    
            .info-container {
                position: absolute;
                height: 50%;
                width: 55%;
                right: 20px;
                bottom: 0;
                z-index: 1;
    
                .info {
                    .estas-en {
                        font-size: 25px;
                    }
                    
                    .bimia-consulting {
                        font-size: 80px;
                        font-family: $catamaran;
                        font-weight: 700;
                        line-height: 1.1;
                    }
    
                    p {
                        font-size: 25px;
                        padding: 20px 0;
                    }
                
                    .conocer-mas-container {
                        display: flex;
                        justify-content: flex-end;
        
                        .conocer-mas {
                            font-size: 20px;
                            font-weight: 600;
                            font-family: $noto-font;
                            color: #05106D;
                            border: 1px solid #05106D;
                            background-color: transparent;
                            padding: 20px 60px;
                        }
                    }
                }
    
                
            }
        }
    }
}


@media only screen and (max-width: 700px) {
    .index-body {
        background: $index-gradient;
        height: 100%;
        font-family: $noto-font;
        .index-main {
            height: 100%;
            .robot-image-container {
                position: relative;
                width: 100%;
                height: 100%;
                   
                .robot-image-desktop {
                   /*  width: 100%;
                    height: 100%;
                    object-fit: contain; */
                    display: none;
                }
    
                .robot-image-mobile {
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    object-fit: cover;
                }

                .robot-image-tb {
                    display: none;
                }
            }
    
            .info-container {
                position: absolute;
                height: 50%;
                width: 55%;
                right: 20px;
                bottom: 0;
                z-index: 1;
    
                .info {
                    .estas-en {
                        font-size: 25px;
                    }
                    
                    .bimia-consulting {
                        font-size: 80px;
                        font-family: $catamaran;
                        font-weight: 700;
                        line-height: 1.1;
                    }
    
                    p {
                        font-size: 25px;
                        padding: 20px 0;
                    }
                
                    .conocer-mas-container {
                        display: flex;
                        justify-content: flex-end;
        
                        .conocer-mas {
                            font-size: 20px;
                            font-weight: 600;
                            font-family: $noto-font;
                            color: #05106D;
                            border: 1px solid #05106D;
                            background-color: transparent;
                            padding: 20px 60px;
                        }
                    }
                }
    
                
            }
        }
    }
}