.index-body {
    background: $index-gradient;
    background-repeat: no-repeat;
   
        .index-main {

            .welcome-container {
                display: flex;
                align-items: center;
                justify-content: end;
                position: absolute;
                left: 0;
                bottom: 0;
                gap: 40px;
                
                .index-img-container {
                    display: flex;
                    justify-content: flex-end;
                    
                    img {
                        display: flex;
                        align-self: flex-end;
                        justify-self: flex-end;
                    }
                }

                .welcome-info {
                    display: flex;
                    flex-direction: column;
                    color: white;
                    font-family: $noto-font;
                    gap: 20px;
                    
                        span {
                            font-size: 27px;
                            font-weight: 400;
                            line-height: 70px;
                        }
                        h1 {
                            font-family: 'Times New Roman', Times, serif;
                            font-weight: 700;
                            font-size: 70px;
                        }
                        p {
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 35px;
                            text-align: justify;
                            width: 80%;
                        }
                }
        }        
    }
}

