.index-body {
    background: $index-gradient;
    position: relative;
    height: 100%;
    font-family: $noto-font;

    .index-main {
            img {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                z-index: 1;            
        }
            .info-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 55%;
                height: 55%;
                gap: 30px;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 2;
                margin: 0 30px;

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    .estas-en {
                        font-size: 25px;
                        font-weight: 400;
                    }
                    .bimia-consulting {
                        font-size: 90px;
                        font-weight: 700;
                    }
                    
                    p {
                        font-size: 25px;
                        font-weight: 400;
                        margin-top: 40px;
                        width: 85%;
                        text-align: start;
                    }
                }

                .conocer-mas-container {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    padding-right: 100px;
                    
                 .conocer-mas{
                    border: 1px solid #05106D;
                    background-color: transparent;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $noto-font;
                    color: #05106D;
                    padding: 20px 35px;
                }
            }
        }
    }
}