.terms-main {
    font-family: $noto-font;

    .hero-image-container {
        display: flex;
        align-items: flex-end;
        padding: 20px;
        background-image: url(/assets/images/hero-image-terms.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 300px;
    }   

    h1 {
        font-family: $catamaran;
        font-size: 45px;
        color: white;
    }
}