.work-body {
    background: $index-gradient;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
        .work-main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
                .work-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                            video {
                                width: 40%;
                                mix-blend-mode: screen;
                            }
                        .work-info {
                            font-family: $noto-font;
                            display: flex;
                            justify-content: center;
                            gap: 30px;
                            flex-direction: column;
                            color: white;
                            padding: 30px;
                                h1 {
                                    font-family: $catamaran;
                                    font-size: 60px;
                                    font-weight: 500;
                                    width: 90%;
                                }
                                p {
                                    font-weight: 300;
                                    font-size: 22px;
                                    text-align: justify;
                                }
                        }
                }
        }

        .outstanding-section {
            background-color: white;
            font-family: $noto-font;
                .outstanding-title {
                    display: flex;
                    flex-direction: column;
                    padding: 40px;
                        span {
                            width: 100%;
                            border: 0.5px solid black;
                        }
                        h3 {
                            font-family: $catamaran;
                            padding: 15px 0 0 0;
                            font-size: 24px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                }
                
                .outstanding-cards-container {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 40px;
                    gap: 40px;
                        .outstanding-card {
                            flex: 1;
                            width: 100%;
                            height: 700px;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            padding: 20px;
                            box-shadow: 0px 4.07px 4.07px rgba(0, 0, 0, 0.25);
                            transition: ease-in-out 0.5s;
                            &:hover {
                                transform: scale(1.02);
                                transition: ease-in-out 0.5s;
                            }
                                img {
                                    width: 100%;
                                    height: auto;
                                    border-radius: 5px;
                                }
                                h3 {
                                    font-weight: 600;
                                    font-size: 26px;
                                }
                                p {
                                    text-align: justify;
                                    font-weight: 400;
                                    font-size: 20px;
                                    height: auto;
                                    width: auto;
                                    padding: 5px 10px;
                                    line-height: 30px;
                                }
                        }
                }
        }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
    .work-body {
            .work-main {
                flex-direction: column;
                height: auto;
                padding: 25px 0;
                    .work-section {
                        flex-direction: column;
                                video {
                                    display: none;
                                }
                            .work-info {
                                    h1 {
                                        font-size: 34px;
                                        font-weight: 700;
                                        width: 100%;
                                    }
                                    p {
                                        font-weight: 300;
                                        line-height: 21px;
                                        font-size: 16px;
                                        text-align: justify;
                                    }
                            }
                    }
            }
    
            .outstanding-section {
                background-color: white;
                font-family: $noto-font;
                    .outstanding-title {
                            h3 {
                                font-size: 18px;
                                font-weight: 700;
                            }
                    }
                    
                    .outstanding-cards-container {
                        flex-direction: column;
                            .outstanding-card {
                                flex-direction: column;
                                    img {
                                        width: 100%;
                                    }
                                    h3 {
                                        font-weight: 600;
                                        font-size: 20px;
                                    }
                                    p {
                                        font-size: 16px;
                                        padding: 5px 0px;
                                    }
                            }
                    }
            }
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .work-body {
        .work-main {
            flex-direction: column;
            height: 70%;
            padding: 10px 0;
                .work-section {
                    flex-direction: row;
                        .work-info {
                                h1 {
                                    font-size: 40px;
                                    font-weight: 700;
                                    width: 100%;
                                }
                                p {
                                    font-weight: 300;
                                    line-height: 30px;
                                    font-size: 20px;
                                    text-align: justify;
                                }
                        }
                }
        }

        .outstanding-section {
            background-color: white;
            font-family: $noto-font;
                .outstanding-title {
                        h3 {
                            font-size: 25px;
                            font-weight: 700;
                        }
                }
                
                .outstanding-cards-container {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                        .outstanding-card {
                            flex-direction: column;
                            width: 80%;
                                img {
                                    width: 100%;
                                }
                                h3 {
                                    font-weight: 600;
                                    font-size: 30px;
                                }
                                p {
                                    font-size: 20px;
                                    padding: 5px 0px;
                                }
                        }
                }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .work-body {
        .work-main {
            flex-direction: column;
            height: 70%;
            padding: 10px 0;
                .work-section {
                    flex-direction: row;
                        .work-info {
                                h1 {
                                    font-size: 45px;
                                    font-weight: 700;
                                    width: 100%;
                                }
                                p {
                                    font-weight: 300;
                                    line-height: 30px;
                                    font-size: 22px;
                                    text-align: justify;
                                }
                        }
                }
        }

        .outstanding-section {
                
                .outstanding-cards-container {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                        .outstanding-card {
                            flex-direction: column;
                            width: 70%;
                                img {
                                    width: 100%;
                                }
                                h3 {
                                    font-weight: 600;
                                    font-size: 30px;
                                }
                                p {
                                    font-size: 20px;
                                    padding: 5px 0px;
                                }
                        }
                }
        }
    }
}