.work-body {
    background: $index-gradient;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
        .work-main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
                .work-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                            video {
                                width: 60%;
                                mix-blend-mode: screen;
                            }
                        .work-info {
                            font-family: $noto-font;
                            display: flex;
                            justify-content: center;
                            gap: 30px;
                            flex-direction: column;
                            color: white;
                            padding: 30px;
                            position: relative;
                            right: 90px;
                                h1 {
                                    font-family: 'Times New Roman', Times, serif;
                                    font-size: 60px;
                                    font-weight: 500;
                                    width: 90%;
                                }
                                p {
                                    font-weight: 300;
                                    font-size: 22px;
                                    text-align: justify;
                                }
                        }
                }
        }

        .outstanding-section {
            background-color: white;
            font-family: $noto-font;
                .outstanding-title {
                    display: flex;
                    flex-direction: column;
                    padding: 40px;
                        span {
                            width: 100%;
                            border: 0.5px solid black;
                        }
                        h3 {
                            font-family: 'Times New Roman', Times, serif;
                            padding: 15px 0 0 0;
                            font-size: 24px;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                }
                
                .outstanding-cards-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 40px;
                    gap: 40px;
                        .outstanding-card {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            gap: 20px;
                            padding: 20px;
                            box-shadow: 0px 4.07px 4.07px rgba(0, 0, 0, 0.25);
                                img {
                                    width: 100%;
                                }
                                h3 {
                                    font-weight: 600;
                                    font-size: 26px;
                                }
                                p {
                                    text-align: justify;
                                    font-weight: 400;
                                    font-size: 17px;
                                    padding: 5px 40px;
                                }
                        }
                }
        }
}

